nav	{
	background-color:#4f4e4d;
	text-align: center;
	padding: 10px;

}
.link	{
	text-decoration: none;
	color: white;
	margin: 10px;
	padding: 10px;
}
.flex-container	{
	display:flex;
	flex-direction: row;
}
nav>a:hover 	{
	background-color: #ec7e38;
}
nav>a:visited	{
	color: #e89d74;
}
.response	{
	width: 100%;
}
.bphoto	{
	background-image: url(../images/aspens_big.jpg);
	height: 60vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#container {
  position: relative;
  width: 400px;
  height: 80px;
  margin: 15px;
}
#block {
  background: #CCC;
  filter: alpha(opacity=20);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;

}
#text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 60px;
  font-weight: bold;
}
.orange	{
	background-color: #ec7e38;
	flex: 1;
}
.lighterorange	{
	background-color: #e8834b;
	flex: 1;
}
.lightlightorange	{
	background-color:#e89160;
	flex: 1;
}
.lightestorange	{
	background-color: #e89d74;
	flex: 1;
}
.bold	{
	font-weight: bold;
}
.h2	{
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	margin: 10px;
}
.img3	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	border: 1px solid white;
}
li 	{
	text-align: center;
	margin-bottom: none;
}
ul 	{
	list-style-type: none;
  margin: 0;
  padding: 0;
}
h1	{
	font-size: 40px;
	color: #ec7e38;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}
.smallimg	{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
.c1	{
	flex: 1;
}
.c2	{
	flex: 8;
	margin: 10px;
}
.left {
	margin: none;
	text-align: left;
	justify-content: flex-start;
}
.h3		{
	font-size: 24px;
	text-align: left;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}
.hr1 		{
	width: 100%;
	display: block;
	color: #ec7e38;
	border-width: 2px;
	border-style: solid;

}
.right 		{
	float: right;
	border: solid 2px #ec7e38;
	margin: 10px;
}
p {
	text-align: justify;
	margin: 10px;
}
.hr2	{
	width: 100%;
	display: block;
	color: black;
	border-width: 1px;
	border-style: solid;
}
.foot	{
	margin: 10px;
}
.border 	{
	border-left: 2px solid black;
}