.wrapper	{
	width: 80%;
	margin: 0 auto;
	background-color: white;
	padding: 20px;
	border: #0B008E solid 30px;
}
.right		{
	float: right;
}
#square		{
	width: 500px;
	height: 500px;
	background-color: red;
	margin-left: auto;
	margin-right: auto;
}
img		{
	width: 250px;
	height: 250px;
}
#row		{
	height: 250px;
	width: 500px;
}
body	{
	background-color: #A0C8FF;
}
#rectangle	{
	height: 500px;
	width: 900px;
	background-color: #A0C8FF;
	margin: 0 auto;
	border: 15px solid #A0C8FF;
}
#image	{
	width: 400px;
	height: 400px;
}
#left 	{
	width: 400px;
	height: 500px;
}
h1	{
	text-align: center;
	font-size: 50px;
	font-family: Helvetica;
	color: white;
	color: #0B008E;
}
p 	{
	text-align: center;
	color: white;
	font-size: 18px;
	font-family: helvetica;
}
article	{
	background-color: #0B008E;
	padding: 10px;
	margin: 10px auto;
	width: 905px;
}